html {
  font-size: 125%;
  font-family: 0.8rem/1.4 'IXL Verdana', Verdana, Arial, Helvetica, sans-serif
}

a {
  text-decoration: none !important;
  color: unset;
}

.t-green {
  color: #719b07;
}

.fs-20 {
  font-size: 1rem
}

.fw-700 {
  font-weight: 700
}

.bg-lgtGreen {
  background: #52b700 none;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">") !important;
}

.answerFeild {
  width: 10rem;
  border: 1px solid grey
}
input{
  outline: none;
}

.crisp-button {
  font-size: 0.75rem;
  padding: .46em 1.5em .54em;
  min-width: 6.75rem;
  color: #fff;
  border: 0 solid #999;
  background-color: #52b700;
  border-radius: 5px;
  display: block;
}

.tab-box {
  border: 1px solid #e3dbff;
  border-radius: 2px;
  margin: 0.5rem 0;
  position: relative;
}

.tab-box.review-box .tab-box-hd {
  background-position: 0 0;
}

.tab-box.solve-box .tab-box-hd {
  background-position: 0 -232px;
}

.tab-box .tab-box-hd {
  background: #0000 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAFSCAMAAADfHe90AAAAh1BMVEWlzzWQty6NtC2VvTClzzV4miZ4miZ4miZ4miZ4miZ4miZ4miZ4miZ4miZ4miZKsd5Bm8VAmcFDoMtKsd41gaU1gaU1gaU1gaU1gaU1gaU1gaU1gaU1gaU1gaX/oSn/kwf/jwL/mA//oSnafQDafQDafQDafQDafQDafQDafQDafQDafQDafQA9P+aJAAAALXRSTlP/3/+/gBC//4AAj2DvMN//3/+/gBC//4AAj2DvMN//3/+/gBC//4AAj2DvMN+ylx9+AAAAY0lEQVR4Ae3WoQ6CMQyF0W7t+N//aTGEIVAknQXB+ewRW1JzZxwCAAAAAAA/hzHfZX02q1bbrMzTG7tWD/EcVw/xuO8eojJ7iNjj7w51O/TFXwEAAAAAAJvapgYAAAAAADb1C08CF001n69jAAAAAElFTkSuQmCC) no-repeat;
  color: #fff;
  font: normal 6.5rem Verdana, sans-serif;
  height: 5.6rem;
  left: -9px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
  z-index: 10;
}

.tab-box .tab-box-hd .rot-neg-90 {
  font-size: 0.7rem;
  line-height: 21px;
  transform: rotate(-90deg) translateX(-90px);
  -moz-transform: top left;
  transform-origin: top left;
  width: 4.25rem;
}

.modal-dialog {
  margin: 11.75rem 5rem !important;
  width: fit-content !important;
}

.accolades {
  align-items: center;
  background: #fcfff5 none 0 0 no-repeat;
  border: 1px solid #8cc713;
  border-radius: 2px;
  box-shadow: -1px 1px 6px 0 #5174197d;
  display: flex;
  min-height: 130px;
  transform: translate(0);
  width: auto;
}

.accolades img {
  height: 72px;
  margin-left: 27px;
  width: 78px;
}

.accolades h4 {
  color: #7fad00;
  font: 700 45px/1em Trebuchet MS, sans-serif;
  margin: 20px 30px 25px 10px;
  white-space: nowrap;
}
.seriesbtns{
  max-width: 650px;
  display: flex;
  justify-content: center;
}
.serbbtn{
  box-shadow: none;
  border: none;
}
.skill_link{
  color: #3b6715
}
 .quick-login-button {
  background-color: #52b700;
  border-radius: 3px;
  line-height: 29px;
  margin-right: 10px;
  min-width: 80px !important;
  padding: 0 10px;
  color: white;
  border: none transparent;
  text-decoration: none;
  vertical-align: top;
}
.shared-signin-dialog {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 12px #0003;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  z-index: 1001;
}
.desktop-signin-dialog {
  display: flex;
  flex-direction: row;
  max-width: 609px;
}
.desktop-signin-dialog .dialog-decoration {
  background: linear-gradient(214.42deg,#44edc3 28.52%,#00b4ff 91.16%);
  border-radius: 10px 0 0 10px;
  min-height: 350px;
  min-width: 215px;
}
.desktop-signin-dialog .dialog-decoration .signin-image-math {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='215' height='357' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='m134.416 297.511 3.765-25.679-32.911 23.315 17.531 18.48 11.293-16.009.322-.107Z' fill='%23009E78'/%3E%3Cpath d='m131.513 262.485-35.708 37.174 23.554 15.365 13.767-17.191c.43-13.43.43-26.108-1.613-35.348Z' fill='%23F7F7F7'/%3E%3Cpath d='m121.833 261.41-22.91 30.836 17.102 19.124 15.918-13.645c-2.582-13.537-5.593-26.323-10.11-36.315Z' fill='%23E2E1E0'/%3E%3Cpath d='m113.443 265.708-16.132 27.505 17.1 19.232 15.918-13.645c-3.764-14.29-10.11-25.679-16.886-33.092Z' fill='%23F7F7F7'/%3E%3Cpath d='M94.3 289.238c.752-.538 12.368-22.778 12.368-22.778 9.357 7.628 15.703 18.265 22.263 31.91l-15.595 9.992-19.037-19.124Z' fill='%23E2E1E0'/%3E%3Cpath d='M83.974 300.841c.645-.537 15.38-31.372 15.38-31.372 9.357 5.909 22.156 15.578 28.717 29.223l-15.595 9.993-28.502-7.844Z' fill='%23D1D0D1'/%3E%3Cpath d='M114.197 333.503c-7.637-3.867-7.099 4.083-9.035 3.116-11.83-6.339-24.522-11.389-38.074-15.364l23.34-44.265c5.7 2.793 12.476 6.553 19.682 10.851 5.592 3.331 11.4 6.876 17.316 10.314 1.828 1.075 4.517-.537 6.345.538l-19.574 34.81Z' fill='%2319F79A'/%3E%3Cpath d='m113.121 335.33-7.959 1.182 22.156-38.249 7.099-.752-21.296 37.819Z' fill='%2318C49A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.04 71.23 33.2 109.064l42.838-14.909-.515-2.052-54.17-21.673-2.311.8Zm13.622 11.106 24.98 11.04-18.899 6.538-6.08-17.578Z' fill='%238E41C7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m36.428 100.704-6.081-17.577 26.3 10.582-20.22 6.995ZM19.037 71.221l.991 2.985 12.176 35.191 39.485-13.66 4.477-1.55-57.13-22.966Z' fill='%23BA7CE8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m25.232 76.063-.432-.18.775-2.035.432.18-.775 2.034ZM30.167 78.094l-.396-.192.752-1.985.419.142-.775 2.035ZM34.619 79.8l-.42-.143.776-2.035.419.143-.775 2.035ZM38.925 81.556l-.432-.18.788-1.997.431.179-.788 1.998ZM43.465 83.396l-.396-.192.788-1.998.42.142-.813 2.048ZM48.262 85.27l-.419-.143.788-1.999.42.143-.789 1.998ZM53.814 87.54l-.432-.18.788-1.998.42.143-.776 2.035ZM59.353 89.773l-.432-.18.788-1.997.432.179-.788 1.998ZM64.978 92.018l-.419-.142.788-1.999.42.143-.789 1.998ZM66.624 97.488l.44-.152-.685-1.981-.44.152.686 1.981ZM61.414 99.291l.44-.152-.686-1.982-.44.153.686 1.981ZM56.203 101.094l.44-.152-.685-1.982-.44.153.685 1.981ZM50.992 102.897l.44-.152-.685-1.982-.44.152.685 1.982ZM45.781 104.7l.44-.153-.685-1.981-.44.152.685 1.982ZM40.57 106.503l.44-.153-.685-1.981-.44.152.685 1.982ZM35.36 108.306l.44-.153-.685-1.981-.44.152.685 1.982Z' fill='%238730C7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M139.468 30H74.971A3.962 3.962 0 0 0 71 33.957v25.868c0 2.208 1.797 3.957 3.971 3.957h64.455a3.963 3.963 0 0 0 3.971-3.957V33.957c.042-2.207-1.756-3.957-3.929-3.957Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M117.816 58.367h20.314v-5.623h-10.617v-17.37h-9.739l.042 22.993Z' fill='%23FFC605'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M87.762 58.367h11.704l5.852-7.79 5.684 7.79h12.624L113.05 46.58l10.241-11.206H111.42l-5.475 7.124-5.225-7.123H88.096L98.17 46.578 87.762 58.367Z' fill='%23FFC605'/%3E%3Cpath d='M86.006 35.373H76.31v22.994h9.697V35.374Z' fill='%2300AEEF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M117.816 58.367h5.852l-5.852-6.498v6.498Zm5.475-22.993h-5.517v6.04l5.517-6.04Z' fill='%23E3B409'/%3E%3Cg style='mix-blend-mode:multiply' opacity='.1' filter='url(%23b)'%3E%3Cpath d='M148.255 119.589c-13.859-2.856-24.138-9.826-22.959-15.569 1.18-5.744 13.371-8.085 27.23-5.23 13.859 2.856 24.138 9.826 22.959 15.569-1.179 5.744-13.37 8.085-27.23 5.23Z' fill='%23000'/%3E%3C/g%3E%3Cg style='mix-blend-mode:multiply' opacity='.1' filter='url(%23c)'%3E%3Cpath d='M154.033 114.072c-11.19-2.305-19.489-7.933-18.537-12.57.952-4.637 10.795-6.527 21.984-4.222 11.19 2.306 19.489 7.933 18.537 12.57-.952 4.637-10.795 6.528-21.984 4.222Z' fill='%23000'/%3E%3C/g%3E%3Cg style='mix-blend-mode:multiply' opacity='.12' filter='url(%23d)'%3E%3Cpath d='M151.626 104.457c-11.19-2.306-19.7-6.902-19.01-10.267.691-3.365 10.322-4.224 21.512-1.92 11.189 2.306 19.7 6.903 19.009 10.268-.691 3.365-10.322 4.224-21.511 1.919Z' fill='%23000'/%3E%3C/g%3E%3Cpath d='m168.156 95.89 11.061.494-47.68-1.365 36.619.87Z' fill='%23FFE585'/%3E%3Cpath d='m179.217 96.384 7.637 13.86-55.317-15.225 47.68 1.365ZM155.831 71.893l14.002 13.42-38.296 9.706 24.294-23.126Z' fill='%23FFCA05'/%3E%3Cpath d='m169.833 85.314-1.677 10.576-36.619-.871 38.296-9.706Z' fill='%23FBB500'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m164.036 164-2.146.389-43.893-75.41c-.521-.843-1.626-1.297-2.471-.908L3.028 131.97l-1.561-1.621-1.106 3.177c-.13.389-.065.843.195 1.297l44.74 76.901c.52.843 1.625 1.297 2.47.908l114.384-44.676c.391-.129.716-.454.781-.843l1.105-3.112Z' fill='%23008DC2'/%3E%3Cpath d='m102.246 230.332-52.548-11.063a2 2 0 0 1-1.588-1.957v-5.138l117.343-41.824 51.055 6.575v2.819a2 2 0 0 1-1.203 1.834l-111.849 48.631a2.01 2.01 0 0 1-1.21.123Z' fill='%23008EC2'/%3E%3Cpath d='m102.094 226.214-54.135-11.397v-2.059L165.3 166.233l51.055 10.705-113.052 49.153a1.995 1.995 0 0 1-1.21.123Z' fill='%2325C4FF'/%3E%3Cpath d='m204.31 177.806-102.551 44.118a2.012 2.012 0 0 1-1.213.118l-42.864-9.268 107.39-42.214 39.238 7.246Z' fill='%2300A9E9'/%3E%3Cmask id='e' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='1' y='84' width='164' height='126'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M117.024 84.57 2.576 129.375c-.846.324-1.17 1.297-.65 2.14l44.738 77.161c.52.843 1.626 1.296 2.471.972l114.449-44.805c.846-.324 1.171-1.297.651-2.14l-44.739-77.16a2.158 2.158 0 0 0-1.821-1.038c-.26-.065-.455-.065-.651.065Z' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23e)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M117.024 84.57 2.576 129.375c-.846.324-1.17 1.297-.65 2.14l44.738 77.161c.52.843 1.626 1.296 2.471.972l114.449-44.805c.846-.324 1.171-1.297.651-2.14l-44.739-77.16a2.158 2.158 0 0 0-1.821-1.038c-.26-.065-.455-.065-.651.065Z' fill='%2325C4FF'/%3E%3C/g%3E%3Cmask id='f' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='126' width='126' height='84'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.945 129.004c-.846.324-1.17 1.297-.65 2.14l44.413 76.837c.52.843 1.561 1.296 2.407.907l78.683-30.864-6.373-2.788-70.88 27.882-40.967-71.001 8.453-3.307-7.478-2.789-7.608 2.983Z' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23f)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.945 129.004c-.846.324-1.17 1.297-.65 2.14l44.413 76.837c.52.843 1.561 1.296 2.407.907l78.683-30.864-6.373-2.788-70.88 27.882-40.967-71.001 8.453-3.307-7.478-2.789-7.608 2.983Z' fill='%2367D6FF'/%3E%3C/g%3E%3Cmask id='g' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='11' y='92' width='144' height='109'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M154.083 160.768 51.405 200.905l-39.537-68.148L114.547 92.62l39.536 68.148Z' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23g)'%3E%3Cpath d='m157.777 162.026-106.06 40.007-42.398-69.899 106.06-40.007 42.398 69.899Z' fill='%23C5EDFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m114.573 144.745 15.591-6.433-24.455-42.468-15.59 6.433 24.454 42.468Z' fill='%23EAEAEA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m93.732 108.553 15.591-6.433-3.614-6.276-15.59 6.433 3.613 6.276Z' fill='%237BDB00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m102.192 123.244 15.591-6.433-3.614-6.276-15.59 6.433 3.613 6.276Z' fill='%2332C5FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m111.113 138.737 15.591-6.433-3.613-6.276-15.591 6.434 3.613 6.275Z' fill='%23FA6400'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m107.931 127.52 9.681-3.994-.947-1.644-9.681 3.994.947 1.644ZM99.4 112.706l9.681-3.995-.947-1.644-9.68 3.994.947 1.645Z' fill='%23B2B2B2'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m96.746 186.942.976 1.686 13.33-5.641-.91-1.686-13.396 5.641Z' fill='%2300BAFF'/%3E%3Cpath d='M54.97 185.849c-.29-.486-.12-1.042.38-1.242l43.128-17.242c.5-.2 1.14.032 1.43.518l3.676 6.153c.29.486.12 1.042-.379 1.242l-43.13 17.242c-.5.2-1.14-.032-1.43-.518l-3.675-6.153Z' fill='%2353AE03'/%3E%3Cpath d='M48.844 174.921c-.218-.365-.09-.782.284-.932l20.074-8.025c.375-.15.855.024 1.073.389l3.675 6.153c.218.364.09.781-.284.931l-20.074 8.025c-.375.15-.855-.024-1.073-.388l-3.675-6.153ZM72.12 165.505c-.218-.364-.09-.781.284-.931l20.075-8.025c.374-.15.855.024 1.073.388l3.675 6.153c.217.365.09.782-.285.932l-20.074 8.025c-.375.15-.855-.024-1.073-.389l-3.675-6.153Z' fill='%23fff' stroke='%2353D0FF' stroke-width='.5'/%3E%3Cpath d='M25.371 134.937c-.28-.484-.108-1.031.387-1.229l43.311-17.314c.505-.202 1.152.037 1.438.531l19.417 33.544c.28.484.108 1.031-.387 1.228l-43.311 17.315c-.505.202-1.152-.037-1.438-.531l-19.417-33.544Z' fill='%23fff'/%3E%3Cpath d='m37.978 132.082 14.78 25.019M32.641 134.132l14.779 25.019M43.22 130.069l14.778 25.019M48.46 128.056l14.78 25.019M53.701 126.043l14.779 25.019M58.748 124.105l14.779 25.019M63.989 122.092l14.778 25.019M68.89 120.482l14.778 25.02M71.31 125.171l-39.843 15.814M74.577 130.784l-40.095 15.305M77.5 135.566l-40.003 15.627M80.425 140.348l-39.912 15.949' stroke='%23DDD' stroke-width='.75' stroke-linecap='square'/%3E%3Cpath d='M81.378 140.617 41.587 155.9' stroke='%23FB4321' stroke-width='.75' stroke-linecap='square' stroke-dasharray='2 2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m40.889 154.719 1.397 2.364-2.25-.587.853-1.777Z' fill='%23FB4321'/%3E%3Cpath d='m64.943 134.464-29.26 11.239' stroke='%23FB4321' stroke-width='.75' stroke-linecap='square' stroke-dasharray='2 2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m34.983 144.521 1.398 2.364-2.25-.587.852-1.777Z' fill='%23FB4321'/%3E%3Cpath d='m57.059 143.29-18.305 7.611' stroke='%23FB4321' stroke-width='.75' stroke-linecap='square' stroke-dasharray='2 2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m38.054 149.719 1.397 2.364-2.25-.586.853-1.778Z' fill='%23FB4321'/%3E%3Cpath d='m41.492 137.094-8.88 3.41' stroke='%23FB4321' stroke-width='.75' stroke-linecap='square' stroke-dasharray='2 2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m31.913 139.322 1.397 2.364-2.25-.586.853-1.778Z' fill='%23FB4321'/%3E%3Cpath d='m42.657 138.478-6.551 2.515 11.23 19.002 6.552-2.514-11.231-19.003Z' fill='%2365C474'/%3E%3Cpath d='m58.467 143.119-6.553 2.515 6.553 11.087 6.553-2.515-6.553-11.087Z' fill='%230091FF'/%3E%3Cpath d='m65.716 133.748-6.551 2.514 9.36 15.836 6.552-2.515-9.36-15.835Z' fill='%23FFC200'/%3E%3Cpath d='m81.84 140.822-6.09 2.337 2.915 4.932 6.09-2.337-2.915-4.932Z' fill='%23BE63D1'/%3E%3Crect x='152.452' y='251.235' width='24.543' height='40.337' rx='12.271' transform='rotate(-39.761 152.452 251.235)' fill='%23004D94'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M153.467 232.186c4.645 2.055 6.693 4.14 9.686 10.45l-2.711 1.285c-2.758-5.815-4.342-7.29-8.189-8.992-3.874-1.714-8.36-1.869-13.36-.947-5.004.922-10.405 2.9-16.026 5.32-3.372 1.452-6.753 3.031-10.156 4.619a556.837 556.837 0 0 1-6.942 3.203c-5.704 2.57-11.396 4.904-16.806 6.278-5.405 1.372-10.657 1.82-15.432.487-9.765-2.726-16.597-12.547-19.366-33.562l2.975-.391c2.731 20.735 9.274 28.852 17.197 31.063 4.069 1.136 8.738.803 13.888-.505 5.145-1.306 10.64-3.55 16.312-6.105 2.241-1.01 4.527-2.077 6.824-3.149 3.451-1.61 6.928-3.233 10.32-4.693 5.683-2.447 11.329-4.532 16.669-5.516 5.344-.984 10.498-.889 15.117 1.155Z' fill='%2300A8E6'/%3E%3Cpath fill='%234F5074' d='m158.073 243.602 4.804-3.997 2.834 3.406-4.804 3.997z'/%3E%3Cpath d='M160.724 259.702c-4.168-5.01-3.486-12.45 1.524-16.618 5.009-4.168 12.449-3.485 16.617 1.524l5.491 6.6c4.168 5.009 3.486 12.449-1.524 16.617-5.009 4.168-12.449 3.486-16.617-1.524l-5.491-6.599Z' fill='%2300A9E9'/%3E%3Cpath d='m163.424 262.947 18.141-15.094 6.061 7.285c4.168 5.01 3.486 12.449-1.524 16.617-5.009 4.168-12.449 3.486-16.617-1.523l-6.061-7.285Z' fill='%2325C4FF'/%3E%3Cpath d='m160.575 244.476 2.62-2.18 10.61 12.753a1.704 1.704 0 1 1-2.62 2.18l-10.61-12.753Z' fill='%23004D94'/%3E%3Crect x='164.789' y='250.43' width='4.659' height='6.477' rx='2.329' transform='rotate(-39.761 164.789 250.43)' fill='%23F8D26D'/%3E%3Cpath opacity='.5' d='M61.625 184.382c-.524 11.338-9.602 18.721-20.277 16.49-10.675-2.231-18.904-13.231-18.38-24.57.524-11.338 9.602-18.721 20.277-16.49 10.674 2.231 18.903 13.231 18.38 24.57Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.58 204.678c11.923 2.437 22.063-5.628 22.648-18.014.585-12.386-8.607-24.403-20.53-26.84-11.924-2.437-22.064 6.281-22.649 18.668-.585 12.386 8.607 23.749 20.53 26.186Zm3.359-4.466c9.288 1.956 16.03-3.716 16.523-14.46.456-9.942-8.012-20.895-17.3-22.851-9.288-1.956-17.981 5.194-18.437 15.136-.456 9.942 9.925 20.219 19.214 22.175Z' fill='%23F49D33'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.02 206.623c12.843 2.525 23.765-7.136 24.395-19.965.63-12.829-9.27-25.275-22.113-27.799-12.842-2.524-23.764 5.829-24.394 18.658-.63 12.829 9.27 26.582 22.112 29.106Zm3.619-6.61c10.004 2.027 18.15-2.228 18.68-13.355.492-10.297-10.012-24.734-20.017-26.76-10.004-2.026-18.213 5.551-18.704 15.848-.491 10.298 10.036 22.241 20.04 24.267Z' fill='%23E34728'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M55.85 198.858c7.144-4.821 8.622-16.958 1.448-27.59-7.173-10.633-18.982-13.806-26.126-8.986-7.143 4.82-8.621 16.958-1.448 27.59 7.174 10.632 18.982 13.806 26.126 8.986Zm1.462 2.167c8.812-5.945 9.776-19.923 2.153-31.22-7.622-11.296-20.944-15.635-29.755-9.69-8.81 5.945-9.775 19.922-2.153 31.219s20.944 15.635 29.755 9.691Z' fill='%23F27056'/%3E%3Cpath d='M27.755 201.881c.662-1.465 2.001-2.658 3.602-2.5 1.3.129 2.439.63 3.44 1.554 1.2 1.107 1.206 2.927.535 4.416l-2.768 6.129-7.595-3.429 2.786-6.17Z' fill='%23F49D33'/%3E%3Cpath d='M22.016 207.656c.792-1.816 2.596-3.067 4.549-2.731 2.451.421 4.673 1.374 6.752 2.962 1.587 1.212 1.913 3.4 1.114 5.231l-8.09 18.556-12.429-5.433 8.104-18.585Z' fill='%23E34728'/%3E%3Cellipse cx='20.016' cy='229.672' rx='6.808' ry='6.127' transform='rotate(29.366 20.016 229.672)' fill='%23C02000'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' x='105.204' y='77.573' width='90.373' height='63.232' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='10' result='effect1_foregroundBlur_450:2378'/%3E%3C/filter%3E%3Cfilter id='c' x='115.422' y='76.298' width='80.669' height='58.757' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='10' result='effect1_foregroundBlur_450:2378'/%3E%3C/filter%3E%3Cfilter id='d' x='112.577' y='70.978' width='80.599' height='54.773' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='10' result='effect1_foregroundBlur_450:2378'/%3E%3C/filter%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h215v357H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") ;
   height: 100%;
  width: 100%;
}
.dialog-content {
  flex-grow: 1;
  padding: 25px 25px 49px;
  position: relative;
}
.form-header {
  color: #00aeef;
  font: 30px/35px Roboto Slab,sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
.label-forgot-info {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.signin-field-label {
  flex-shrink: 0;
  margin-right: 10px;
}
.si-field-label {
  color: #545454;
  display: block;
  font-size: 15px;
  line-height: 18px;
}
.forgot-info-button {
  flex-shrink: 1;
  text-align: right;
}
.forgot-info-button {
  background-color: inherit;
  border: 0;
  color: #949494;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 5px;
  outline: none;
  padding: 0;
  text-decoration: none;
}
.si-text-field {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  box-shadow: inset 0 1px 4px #00000026;
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;
}
.si-input-container {
  margin: 0 0 20px;
}
.form-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.submit-btn {
  border: 0;
  font-size: 16px;
  height: 40px;
  min-width: 120px;
}
.info-cta-green {
  background-color: #52b700;
  color: #fff;
}